@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.soundPlayer {
  position: absolute;
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #282828;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.soundPlayer-soundList {
  position: absolute;
  background: #282828;
  color: #fff;
  border-radius: 0.5rem;
  right: 0;
  bottom: 60px;
  display: flex;
  flex-direction: column;
}

.soundPlayer-content {
  display: flex;
  align-items: center;
}

.soundPlayer-title {
  white-space: nowrap;
  margin-right: 1rem;
  font-size: 1rem;
  color: #fff;
  width: 300px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.soundPlayer-slider {
  width: 100%;
  background-color: #e07aaf;
  border-radius: 5px;
  margin-right: 1rem;
}

.soundPlayer-speed {
  color: white;
  width: 100px;
}

.soundPlayer-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soundPlayer-actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: #fff;
}

.soundPlayer-actions-btn svg {
  fill: #fff;
}

.soundPlayer-actions-btn:hover {
  background: #e07aaf;
  color: #fff;
}

.soundPlayer-item {
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

.soundPlayer-volume {
  position: relative;
  margin-right: 1rem;
}

.soundPlayer-volume:hover .soundPlayer-volume-box {
  opacity: 1;
  visibility: visible;
}
.soundPlayer-volume-box {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease;
  top: -82px;
  left: -45px;
  z-index: 1;
  transform: rotate(-90deg);
  background-color: white;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.soundPlayer-volume-slider {
  -webkit-appearance: none;
  background-color: lightgray;
  border-radius: 5px;
  height: 10px;
  width: 100px;
  cursor: pointer;
}

button {
  background: transparent;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
}
